.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  /* background: #556A95; */
  background-image: linear-gradient(#45a29e, #1f2833, #0b0c10);
  width: auto;
}
.main-header {
  background-color: #0b0c10;
  padding: 30px;
}

.main-header > ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

.main-header > ul > li {
  outline: none;
  text-decoration: none;
  list-style: none;
  font-size: 25px;
  cursor: pointer;
}

.postrow {
  text-align: "left";
}

.headerlink-title {
  color: #66fcf1;
  text-decoration: none;
  padding: 0 5px;
}

.child-div {
  width: auto;
  height: 100vh;
  display: flex;
  align-items:flex-start;
  text-align: center;
  vertical-align: top;
  justify-content: center;
}

.child-div table {
  /* background-color: #8892a5; */
  background-color: #c5c6c7;
  border: none;
}

.form-box {
  width: 375px;
  display:block;
  margin: auto;
}

.form-box label {
  width: 200px;
  text-align: center;
}

.form-box input {
  width: 200px;
  text-align: center;
}

.form-box textarea {
  width: 200px;
  height: 100px;
  resize: none;
  overflow-y: scroll;
}

.form-box button {
  width: 208px; 
  height: 30px;
}

.add-sportsman {
  width: 375px;
  height: 100vh;
  margin: 0vw;
  padding: 2vw;
  position: relative;
  margin: auto;
  font-size: 16px;
}

.add-sportsman h2 {
  text-align: center;
  font-size: 28px;
  text-indent: -168px;
}

.update-btn {
  background-color: rgb(54, 98, 148);
  border: none;
  cursor: pointer;
}

.delete-btn {
  background-color: rgb(224, 24, 24);
  border: none;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

